body {
    background-color: rgb(209, 250, 175);
}
h1{
    text-align: center;
    font-family: 'Lucida Sans';
}
h2 {
    text-align: center;
    font-family: 'Lucida Sans';
}
ul {
    display: block;
    width: fit-content;
    margin: 0 auto;         
    padding: 0;
    list-style-position: outside;
    text-align: left;
}
li {
    font-family: 'Lucida Sans';
    font-size: large;
    text-align: left;
}
h3 {
    font-family: 'Lucida Sans';
    text-align: center;
}
.Orange {
    color: orange;
}
.Green {
    color: green;
}
.Red {
    color: red;
}
.Blue {
    color: blue;
}
.Yellow {
    color: yellow;
}